doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        title Miratorg
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover')
        style.
          html {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; 
          }

          body {
            width: 100%;
            height: 100%;
            width: 100vw;
            height: 100vh;
            margin: 0;
            padding: 0;  
            overflow: hidden;
          }

          canvas#viewport {
            position: absolute;
            top: 0;
            left: 0;
            touch-action: none;
            display: block;
          }

          #loader {
            z-index: 999;
            position: absolute;
            background: white;
            width: 100%;
            height: 100%;                        
            opacity: 1;            
          }

          #loader.hidden {
            pointer-events: none;
            opacity: 0;
            transition: opacity 200ms ease;            
          }

          #loader .container {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 300px;
            height: 300px;
            transform: translate(-50%, -50%);
          }

          #loader .mandarin {
            display: block;
            margin: 0 auto;
            width: 160px;
            margin-bottom: 26px;
          }

          #loader .loader-bar {
            margin: 0 auto;
            width: 280px;
            height: 8px;
            background: #f57f32;
            transform: scale(0, 1);
          }

          #loader .gray-bar {
            width: 280px;
            margin: 0 auto;
            height: 3px;
            background: #e0e0e0;
            margin-bottom: 26px;
           
          }

          #loader .logo {
            display: block;
            margin: 0 auto;
            width: 160px;
          }


    body        
      canvas#viewport
      #loader
        .container
          img.mandarin(src="./mandarin.png", alt="mandarin")
          .loader-bar
          .gray-bar
          img.logo(src="./logo.png", alt="logo")
          
      script.
          var canvasElement = document.querySelector('#viewport');
          /**
            bootstap: load & initialize - called once 
            canvasElement,
            onProgress(progress) 0 - 100

            game is ready to be start @ onProgress(100)
          */
          MiratorgGame.bootstrap(canvasElement, function (progress) {
            // each time progress is called we update scale of the bar to indicate load progress
            var loaderBar = document.querySelector('#loader .loader-bar');
            var scale = (progress / 100).toFixed(2)
            loaderBar.style.transform = 'scale(' + scale + ', 1)';
            
            // when we reach 100 (guarantied to be called once with 100% progress)
            if (progress === 100) {
              // hide loader (.hidden class animates it a little)
              document.querySelector('#loader').classList.add('hidden');

              // start a game, callback is called then it's done (seconds - time it took to complete a level)
              function onLevelComplete(seconds) {
                  // restart immidiately when it's done
                MiratorgGame.start(onLevelComplete)
              }

              MiratorgGame.start(onLevelComplete)
            }  
          });
          